<mat-card>
  <mat-card-content>
    <mat-card-title> SpaceX launches</mat-card-title>
    <table mat-table [dataSource]="launchList" >

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> flight number </th>
        <td mat-cell *matCellDef="let launch"> {{launch.flight_number}} </td>
      </ng-container>
      <ng-container matColumnDef="mission">
        <th mat-header-cell *matHeaderCellDef> mission name </th>
        <td mat-cell *matCellDef="let launch"> {{launch.mission_name}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> date </th>
        <td mat-cell *matCellDef="let launch"> {{launch.launch_date_utc}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let launch"> {{launch.launch_success}} </td>
      </ng-container>
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> image </th>
        <td mat-cell *matCellDef="let launch"> <img mat-card-sm-image [src]="launch.links.mission_patch" /> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
