<mat-card>
  <mat-card-content>
    <mat-card-title> SpaceX capsules</mat-card-title>
    <table mat-table [dataSource]="capsuleList" >

      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef> serial </th>
        <td mat-cell *matCellDef="let capsule"> {{capsule.capsule_serial}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> type </th>
        <td mat-cell *matCellDef="let capsule"> {{capsule.capsule_id}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let capsule"> {{capsule.status}} </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> details </th>
        <td mat-cell *matCellDef="let capsule"> {{capsule.details}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
