
@use '@angular/material' as mat;

@include mat.core();

$spaceX-primary: mat.define-palette(mat.$indigo-palette);
$spaceX-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$spaceX-warn: mat.define-palette(mat.$red-palette);


$spaceX-theme: mat.define-light-theme((
  color: (
    primary: $spaceX-primary,
    accent: $spaceX-accent,
    warn: $spaceX-warn,
  )
));


@include mat.all-component-themes($spaceX-theme);

