.title {
    font-family: Georgia   ,sans-serif;
    font-size: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222E71
}

.header {
    background-color: #222E71
}

.subtitle{
    width: 100%;
    font-size: 16px;
}

.button{
    font-family: Georgia   ,sans-serif;
    font-size: 20px;
    width: 33%;
}
