<mat-card-header class="header">
  <mat-card class="title">
  <mat-card-title>  spaceX Project</mat-card-title>
  <mat-card-subtitle class="subtitle">
    <button mat-raised-button color="warn" class="button" (click)="goHome()" ><mat-icon>home</mat-icon></button>
    <button mat-raised-button color="warn" class="button" (click)="goCapsules()" >capsules</button>
    <button mat-raised-button color="warn" class="button" (click)="goLaunches()">launches</button>
  </mat-card-subtitle>
    </mat-card>
</mat-card-header>

